.space {
    composes: cos-space from global;
}

.horizontal {
    composes: -v-mr from global;
}

.vertical {
    composes: -v-mb from global;
}

.horizontal.last {
    margin-right: 0;
}

.vertical.last {
    margin-bottom: 0;
}
