.root:global(.horizontal.sm:not(:last-child)) {
    margin-bottom: var(--spacing-xs);
}

.root:global(.horizontal > .sm:not(:last-child)) {
    margin-right: var(--spacing-sm);
}

.root:global(.horizontal.md:not(:last-child)) {
    margin-bottom: var(--spacing-sm);
}

.root:global(.horizontal > .md:not(:last-child)) {
    margin-right: var(--spacing-md);
}

.root:global(.horizontal.lg:not(:last-child)) {
    margin-bottom: var(--spacing-md);
}

.root:global(.horizontal > .lg:not(:last-child)) {
    margin-right: var(--spacing-lg);
}

.root:global(.vertical.sm:not(:last-child)) {
    margin-right: var(--spacing-sm);
}

.root:global(.vertical > .sm:not(:last-child)) {
    margin-bottom: var(--spacing-xs);
}

.root:global(.vertical.md:not(:last-child)) {
    margin-right: var(--spacing-md);
}

.root:global(.vertical > .md:not(:last-child)) {
    margin-bottom: var(--spacing-sm);
}

.root:global(.vertical.lg:not(:last-child)) {
    margin-right: var(--spacing-lg);
}

.root:global(.vertical > .lg:not(:last-child)) {
    margin-bottom: var(--spacing-md);
}
