@import 'cosmic-ui/dist/ui.css';

* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}
body {
    background-color: var(--color-light);
    color: var(--color-dark);
}
.content {
    padding: calc(var(--spacing-base) * 2);
}
.content > div {
    margin-top: 1rem;
}

.input-li {
    width: 50%;
}

.input-li > div {
    margin-top: 1rem;
}

.menu {
    width: 100%;
    justify-content: flex-end;
    display: flex;
}

.row > .col:nth-child(2n + 1),
.row > :nth-child(2n + 1) .col {
    background-color: var(--color-primary-400);
}

.row .col {
    background-color: var(--color-primary-600);
    min-height: 30px;
    margin: 8px 0;
    padding: 16px 0;
    text-align: center;
    color: var(--color-white);
    font-size: 14px;
}

.step {
    margin-top: 1rem;
}
