@import "cosmic-ui/dist/ui.css";
@import "cosmic-vue/dist/style.css";

* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}
.content {
    padding: calc(var(--spacing-base) * 2);
}
.content > div {
    margin-top: 1rem;
}
.button-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.button-group > div {
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.input-li {
    width: 50%;
}

.input-li > div {
    margin-top: 1rem;
}

.menu {
    width: 100px
}
.row .col:nth-child(2n+1) {
    background-color: rgba(0,146,255,.75);
}

.row .col {
    background-color: #0092ff;
    min-height: 30px;
    margin: 8px 0;
    padding: 16px 0;
    text-align: center;
    color: #fff;
    font-size: 14px;
}

.step {
    margin-top: 1rem;
}