@import 'cosmic-ui/dist/ui.css';

* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}
body {
    background-color: var(--color-gray-50);
    color: var(--color-dark);
}
.content {
    padding: calc(var(--spacing-base) * 2);
}
.content > div {
    margin-top: 1rem;
}

.input-li {
    width: 50%;
}

.input-li > div {
    margin-top: 1rem;
}

.menu {
    display: flex;
}

.step {
    margin-top: 1rem;
}
