@import "cosmic-design/global.css";
@import "cosmic-vue/dist/style.css";

html {
    font-size: 10px;
}
.content {
    padding: calc(var(--spacing-base) * 2);
}
.content > div {
    margin-top: 1rem;
}
.button-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.button-group > div {
    margin-right: 1rem;
    margin-bottom: 1rem;
}