.root {
    position: relative;
    width: 100%;
    
}

.root:global(.active), .root:active {
    background-color: rgba(var(--rgb-neutral-heavy), var(--opacity-10));
}

.root:global(.focus), .root:focus {
    background-color: rgba(var(--rgb-neutral-heavy), var(--opacity-10));
}

.root:global(.hover), .root:hover {
    background-color: rgba(var(--rgb-neutral-heavy), var(--opacity-10));
}

.root:global(.disabled) {
    pointer-events: none;
    background-color: rgba(var(--rgb-neutral-heavy), var(--opacity-30));
}

.root:global(.sm) {
    border-radius: var(--spacing-sm);
    font-size: var(--font-sm);
    height: calc(var(--spacing-sm) * 6);
    padding: var(--spacing-sm) calc(var(--spacing-sm) * 3);
}

.input {
    outline: none;
    padding: 0;
    width: 100%;
    border: none;
    background-color: rgba(0,0,0,0);
}

.root:global(.sm) .prefix + .input {
    padding: var(--spacing-sm);
}

.root:global(.xs) .prefix{
    width: var(--leading-xs);    
}

.root:global(.inherit) {
    background-color: inherit;
    border: none;
    cursor: inherit;
}

.root:global(.lg) .prefix{
    width: var(--leading-lg);
    left: calc((var(--spacing-lg) * 5 - var(--leading-lg)) / 2);
}
