.root {
    position: relative;
    width: 100%;
    display: inline-flex;
    align-items: center;
    
}

.input {
    outline: none;
    padding: 0;
    width: 100%;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0);
}

.input:global(.sm) {
    font-size: var(--font-sm);
    line-height: var(--leading-sm);
    padding: var(--spacing-sm) var(--spacing-sm);
}

.root:global(.sm) .prefix + .input {
    padding: var(--spacing-sm) var(--spacing-sm);
}

.root:global(.sm) .prefix{
    width: calc(var(--leading-sm) * 0.8);
    height: calc(var(--leading-sm) * 0.8);
    left: calc((var(--spacing-sm) * 5 - var(--leading-sm) * 0.8) / 2);
}

.input:global(.active), .input:active {
    border: 1px solid var(--color-gray-300)
}

.input:global(.hover), .input:hover, .input:focus {
    border: 1px solid var(--color-gray-300);
}

.input:global(.disabled) {
    pointer-events: none;
    background-color: var(--color-gray-300);
}

.root:global(.xs) .prefix{
    width: var(--leading-xs);    
}

.root:global(.md) .prefix{
    width: var(--leading-sm);
    left: calc((var(--spacing-sm) * 5 - var(--leading-sm)) / 2);
}
.root:global(.lg) .prefix{
    width: var(--leading-lg);
    left: calc((var(--spacing-lg) * 5 - var(--leading-lg)) / 2);
}


.prefix, .subfix {
    position: absolute;
    display: inline-block;
    vertical-align: sub;
    color: var(--color-gray-500)
}
