.root {
    composes: -v-bg-inapparent -v-h -v-px -v-text from global;
}

.input {
    outline: none;
    border: none;
    background-color: transparent;
}

.prefix {
    margin-right: var(--padding-4);
}