.root {
    composes: -v-bg-inapparent -v-h -v-px -v-text from global;
    border-radius: 0.4rem;
}

.input {
    color: var(--color-dark);
    outline: none;
    border: none;
    background-color: transparent;
}

.prefix {
    margin-right: var(--margin-md);
}