.button  {
    composes: cos-btn -v-color-dark -v-bg-inapparent -v-text -v-w -v-h -v-border-none from global;

    display: flex;
    align-items: center;
    user-select: none;
    border-radius: var(--rounded-md);
}

.button[disabled] {
    cursor: not-allowed;
}

.prefix {
    composes: -v-w -v-h from global;
}
.subfix,
.suffix {
    composes: -v-w -v-h from global;
}
