.button {
    composes: cos-btn -v-bg-primary -v-text -v-h -v-px -v-border-none from global;

    display: flex;
    align-items: center;
    user-select: none;
    border-radius: var(--rounded-md);
    color: var(--color-white);
}

.button[disabled] {
    cursor: not-allowed;
}

.prefix {
    composes: -v-mr from global;
}

.suffix {
    composes: -v-ml from global;
}
