:root, .cos-mode-light, .cos-mode-white, .cos-mode-dark .cos-mode-reverse {

    --color-white: #fff;
    --color-black: #000;

    /** default fill color / text color */
    --color-light: #fff;
    --color-dark: #000;

    --color-gray-50: #fafafa;
    --color-gray-100: #f4f4f5;
    --color-gray-200: #e4e4e7;
    --color-gray-300: #d4d4d8;
    --color-gray-400: #a1a1aa;
    --color-gray-500: #71717a;
    --color-gray-600: #52525b;
    --color-gray-700: #3f3f46
    --color-gray-800: #27272a;
    --color-gray-900: #18181b;

    --color-slate-50: #f8fafc;
    --color-slate-100: #f1f5f9;
    --color-slate-200: #e2e8f0;
    --color-slate-300: #cbd5e1;
    --color-slate-400: #94a3b8;
    --color-slate-500: #64748b;
    --color-slate-600: #475569;
    --color-slate-700: #334155
    --color-slate-800: #1e293b;
    --color-slate-900: #0f172a;

    --color-primary-50: #e8e4ff;
    --color-primary-100: #d1caff;
    --color-primary-200: #b8b1ff;
    --color-primary-300: #9c98ff;
    --color-primary-400: #7c80ff;
    --color-primary-500: #5269ff;
    --color-primary-600: #4857d0;
    --color-primary-700: #3d46a2;
    --color-primary-800: #313577;
    --color-primary-900: #25254f;


    --hsl-light: 0, 0%, 100%;
    --hsl-dark: 0, 0%, 0%;

    --hsl-gray-50: 0, 0%, 98%;
    --hsl-gray-100: 240, 5%, 96%;
    --hsl-gray-200: 240, 6%, 90%;
    --hsl-gray-300: 216, 12%, 84%;
    --hsl-gray-400: 240, 5%, 65%;
    --hsl-gray-500: 240, 4%, 46%;
    --hsl-gray-600: 240, 5%, 34%;
    --hsl-gray-700: 240, 5%, 26%;
    --hsl-gray-800: 240, 4%, 16%;
    --hsl-gray-900: 0, 0%, 12%;

    --hsl-primary-50: 232, 100%, 97%;
    --hsl-primary-100: 232, 100%, 94%;
    --hsl-primary-200: 232, 95%, 89%;
    --hsl-primary-300: 232, 100%, 83%;
    --hsl-primary-400: 232, 100%, 76%;
    --hsl-primary-500: 232, 100%, 71%;
    --hsl-primary-600: 232, 100%, 66%;
    --hsl-primary-700: 234, 60%, 52%;
    --hsl-primary-800: 238, 57%, 41%;
    --hsl-primary-900: 242, 55%, 26%;

    --font-xs: 1.2rem;
    --font-sm: 1.2rem;
    --font-md: 1.4rem;
    --font-lg: 1.6rem;
    --font-xl: 2.0rem;
    --font-2xl: 2.4rem;
    --font-3xl: 3.0rem;

    --leading-xs: 1.4rem;
    --leading-sm: 1.8rem;
    --leading-md: 2.1rem;
    --leading-lg: 2.4rem;
    --leading-xl: 3.0rem;
    --leading-2xl: 3.6rem;

    --icon-xs: 1.2rem;
    --icon-sm: 1.4rem;
    --icon-md: 1.8rem;
    --icon-lg: 2.2rem;
    --icon-xl: 2.6rem;
    --icon-2xl: 3.0rem;

    --height-xs: 2.0rem;
    --height-sm: 2.4rem;
    --height-md: 3.2rem;
    --height-lg: 4.0rem;
    --height-xl: 4.8rem;
    --height-2xl: 5.6rem;

    --width-xs: 2.0rem;
    --width-sm: 2.4rem;
    --width-md: 3.2rem;
    --width-lg: 4.0rem;
    --width-xl: 4.8rem;
    --width-2xl: 5.6rem;

    --padding-xs: 0.6rem;
    --padding-sm: 0.8rem;
    --padding-md: 1.2rem;
    --padding-lg: 1.6rem;
    --padding-xl: 2.0rem;
    --padding-2xl: 2.4rem;

    --margin-xs: 0.4rem;
    --margin-sm: 0.4rem;
    --margin-md: 0.6rem;
    --margin-lg: 0.6rem;
    --margin-xl: 0.6rem;
    --margin-2xl: 0.6rem;

    --font-thin: 100;
    --font-extralight: 200;
    --font-light: 300;
    --font-normal: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
    --font-extrabold: 800;
    --font-black: 900;

    --rounded: 0.4rem;
    --rounded-md:  0.4rem;
    --border-md: 0.1rem;
    --border: 1px;
}
