.tab-pane {
    composes: -v-bg-inapparent cursor-default relative -v-px -v-mx -v-h rounded from global;
}

.tab-pane.active {
    background-color: transparent;
}

.pane {
    flex: 1;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    user-select:none;
}
