.card {
    composes: cos-card -v-text -v-border-apparent from global;
    border-radius: var(--rounded-md);
}

.header {
    padding: var(--leading-sm) var(--leading-lg);
}

.header-title {
    flex-grow: 1;
}

.header-extra {
    flex-shrink: 0;
}

.content {
    padding: 0 var(--leading-lg) var(--leading-sm);
}

.footer {
    padding: 0 var(--leading-lg) var(--leading-sm);
}

.action {
    padding: var(--leading-sm) var(--leading-lg);
}
