.cos-tree {
    user-select: none;
}
.cos-tree-label {
    flex: auto;
    white-space: nowrap;
}
.cos-tree .cos-tree-arrow .cos-icon{
    font-size: 0.75em;
}
.cos-tree-prefix {
    display: flex;
}
.cos-tree-subfix {
    display: flex;
}
.cos-tree-input {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: default;
    color: currentColor;
}
.cos-tree-input:focus {
    cursor: text;
}

.cos-drag-handle {
    display: none;
    opacity: 0;
    content: '';
    padding-top: 5px;
    padding-bottom: 5px;
    bottom: 0px;
}
.cos-drag-handle span {
    top: 7px;
    left: -6px;
    width: 6px;
    height: 6px;
    border-radius: 6px;
}
.cos-tree.dragging .cos-drag-handle {
    display: block;
}
.cos-tree.dragging .drag-off .cos-drag-handle {
    display: none;
}
.cos-tree.dragging .cos-drag-handle:hover {
    opacity: 1;
    visibility:visible;
}