.tree {
    composes: cos-tree -v-text from global;
}
.treenode {
}
.header {
    composes: -v-px -v-h  -v-border-none rounded -v-bg-inapparent from global;
}
.label {
    flex: auto;
    white-space: nowrap;
}
.arrow {
    composes: -v-mr from global;
    /* margin-right: 2px; */
}
.tree .arrow :global(.cos-icon) {
    font-size: 0.75em;
}
.content {
    
}
.prefix {
    composes: -v-mr from global;
    display: flex;
}
.subfix {
    composes: -v-mr from global;
    display: flex;
}
.input {
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
    outline: none;
    cursor: default;
}
.input:focus {
    cursor: text;
    opacity: 0.5;
}