.spin {
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.65);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    color: #1890ff;
    vertical-align: middle;
    text-align: center;
    opacity: 0;
    position: absolute;
    transition: transform 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
    display: none;
  }
  .spin-spinning {
    opacity: 1;
    position: static;
    display: block;
  }
  .spin-nested-loading {
    position: relative;
  }
  .spin-nested-loading > div > .spin {
    display: block;
    position: absolute;
    height: 100%;
    max-height: 360px;
    width: 100%;
    z-index: 4;
  }
  .spin-nested-loading > div > .spin .spin-dot {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px;
  }
  .spin-nested-loading > div > .spin .spin-text {
    position: absolute;
    top: 50%;
    width: 100%;
    padding-top: 5px;
    text-shadow: 0 1px 2px #fff;
  }
  .spin-nested-loading > div > .spin.spin-show-text .spin-dot {
    margin-top: -50px;
  }

  .spin-container {
    position: relative;
    transition: opacity 0.3s;
    zoom: 1;
  }
  .spin-container:before,
  .spin-container:after {
    content: "";
    display: table;
  }
  .spin-container:after {
    clear: both;
  }
  .spin-blur {
    pointer-events: none;
    user-select: none;
    overflow: hidden;
    opacity: 0.5;
    -webkit-filter: blur(0.5px);
    filter: blur(0.5px);
  }
  .spin-blur:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    opacity: 0.3;
    transition: all 0.3s;
    z-index: 10;
  }
  .spin-tip {
    color: rgba(0, 0, 0, 0.45);
  }
  .spin-dot {
    position: relative;
    display: inline-block;
    font-size: 20px;
    width: 50px;
    height: 50px;
  }

  .spin.spin-show-text .spin-text {
    display: block;
  }
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ */
    .spin-blur {
      background: #fff;
      opacity: 0.5;
    }
  }
 
  