.wrapper {
    composes: cos-step -v-text from global;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    margin-right: 16px;
    flex-basis: 50%;
    overflow: hidden;
    color: var(--color-gray-400);
}
.wrapper:last-child {
    flex: none;
    margin-right: 0;
}
.wrapper .icon {
    width: 32px;
    height: 32px;
    margin-right: 8px;
    font-size: var(--font-lg);
    line-height: 30px;
    text-align: center;
}
.wrapper .icon .border {
    border-radius: 50%;
    border: 1px solid var(--color-gray-400);
}
.wrapper .title {
    position: relative;
    display: inline-block;
    padding-right: 16px;
    font-size: var(--font-lg);
    height: 32px;
    line-height: 32px;
}
.wrapper .title::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    width: 9999px;
    height: 2px;
    background-color: var(--color-gray-400);
}
.wrapper:last-child .title::after {
    display: none;
}
.wrapper .description {
    font-size: var(--font-md);
    line-height: 1.5;
}

.wrapper:global(.finish) {
    color: var(--color-gray-400);
}
.wrapper:global(.finish) .icon {
    color: var(--color-primary-600);
}
.wrapper:global(.finish) .icon .border {
    border-color: var(--color-primary-600);
}
.wrapper:global(.finish) .title::after {
    background-color: var(--color-primary-600);
}

.wrapper:global(.process) {
    color: var(--color-gray-400);
}
.wrapper:global(.process) .icon {
    color: var(--color-primary-600);
}
.wrapper:global(.process) .icon .border {
    color: var(--color-white);
    background-color: var(--color-primary-600);
    border-color: var(--color-primary-600);
}
.wrapper:global(.process) .title {
    color: var(--color-dark);
    border-color: var(--color-primary-600);
    font-weight: var(--font-bold);
}

.wrapper:global(.error) .icon,
.wrapper:global(.error) .title,
.wrapper:global(.error) .description {
    color: #f5222d;
}
.wrapper:global(.error) .icon .border {
    border-color: #f5222d;
}