.paragraph {
    color: rgba(var(--rgb-neutral-heavy), var(--opacity-70));
    font-weight: var(--font-normal);
}

.paragraph:global(.xs) {
    font-size: var(--font-xs);
    line-height: var(--leading-xs);
}

.paragraph:global(.sm) {
    font-size: var(--font-sm);
    line-height: var(--leading-sm);
}

.paragraph:global(.md) {
    font-size: var(--font-md);
    line-height: var(--leading-md);
}

.paragraph:global(.lg) {
    font-size: var(--font-lg);
    line-height: var(--leading-lg);
}

.noSpacing {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

.noSpacing .paragraph:global(.xs) {
    margin-top: -.1rem;
    margin-bottom: -.1rem;
}

.noSpacing .paragraph:global(.sm) {
    margin-top: -.3rem;
    margin-bottom: -.3rem;
}

.noSpacing .paragraph:global(.md) {
    margin-top: -.35rem;
    margin-bottom: -.35rem;
}

.noSpacing .paragraph:global(.lg) {
    margin-top: -.4rem;
    margin-bottom: -.4rem;
}

.prefix {
    display: inline-block;
    vertical-align: baseline;
}

.suffix {
    display: inline-block;
    vertical-align: baseline;
}
