.root {
    display: flex;
    align-items: center;
    border: none;
}

.root:global(.sm) {
    font-size: var(--font-sm);
    line-height: var(--leading-sm);
    padding: var(--spacing-sm) calc(var(--spacing-sm) * 5);
}

.root:hover {
    background-color: var(--color-indigo-50);
}

.selected {
    background-color: var(--color-indigo-50)
}