:root {
    --color-primary: #546BFF;
    --color-primary-text: #ffffff;
    --color-neutral-light: #F5F5F5;
    --color-neutral-heavy: #1F1F1F;

    --color-background: #ffffff;
    --color-text: #000000;
    --color-control: #000000;
    --color-control-text: #ffffff;
    

    --rgb-primary: 84, 107, 255;
    --rgb-primary-text: 255, 255, 255;
    --rgb-neutral-light: 245, 245, 245;
    --rgb-neutral-heavy: 31, 31, 31;
    
    --rgb-background: 255, 255, 255;
    --rgb-text: 0, 0, 0;
    --rgb-control: 0, 0, 0;
    --rgb-control-text: 255, 255, 255;


    --opacity-90: 0.9;
    --opacity-70: 0.7;
    --opacity-50: 0.5;
    --opacity-30: 0.3;
    --opacity-10: 0.1;
    --opacity-6: 0.06;


    --font-xs: 1.0rem;
    --font-sm: 1.2rem;
    --font-md: 1.4rem;
    --font-lg: 1.6rem;
    --font-xl: 2.0rem;
    --font-xxl: 2.4rem;
    --font-2xl: 3.0rem;
    --font-3xl: 3.6rem;

    --leading-xs: 1.8rem;
    --leading-sm: 1.8rem;
    --leading-md: 2.2rem;
    --leading-lg: 2.4rem;

    --spacing-xs: 0.1rem;
    --spacing-sm: 0.4rem;
    --spacing-md: 0.4rem;
    --spacing-lg: 0.5rem;

    --font-thin: 100;
    --font-extralight: 200;
    --font-light: 300;
    --font-normal: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
    --font-extrabold: 800;
    --font-black: 900;

    --rounded-md:  0.4rem;
    --border-md: 0.1rem;

}
