.menu {
    cursor: pointer;
    position: relative;
}

.popover {
    border-radius: .4rem;
    background-color: var(--color-gray-100);
    color: var(--color-dark);
    z-index: 20;
}

.margin {
    margin: var(--margin-md) 0;
}

.menu-option {
    composes: -v-h -v-px -v-bg-inapparent from global;
    margin: var(--margin-md) 0;
    white-space: nowrap;
}

.option {
    flex: 1;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.label {
    composes: -v-mr from global;
}
