.menu {
    cursor: pointer;
    position: relative;
}

.popover {
    position: absolute;
    background-color: var(--color-gray-900);
    color: var(--color-light);
    border-radius: .4rem;
    z-index: 20;
}