.root {
    display: flex;
    color: var(--color-primary-text);
}

.root:hover {
    background: rgba(var(--rgb-neutral-heavy), var(--opacity-50));
}


.root:global(.sm) {
    font-size: var(--font-sm);
    line-height: var(--leading-sm);
    padding: var(--spacing-sm) calc(var(--spacing-sm) * 5);
}


.root:global(.selected) {
    background: rgba(var(--rgb-neutral-heavy), var(--opacity-50));
}