.root {
    display: flex;
    align-items: center;
    border: none;
}

.root:global(.sm) {
    font-size: var(--font-sm);
    line-height: var(--leading-sm);
    padding: var(--spacing-sm) var(--spacing-sm);
}

.root:hover {
    background-color: rgba(var(--rgb-primary), var(--opacity-6));
}

.selected {
    background-color: rgba(var(--rgb-primary), var(--opacity-6));
}