.select-option {
    composes: -v-bg-heavy -v-px  -v-h from global;
    margin: var(--margin-sm) 0;
}

.option {
    flex: 1;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}