.root {
    position: relative;
    width: 100%;
    display: inline-flex;
    align-items: center;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0);
    justify-content: space-between;
    cursor: pointer;
    box-sizing: border-box;
}

.input {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.root:hover, .root:global(.active) {
    background-color: var(--color-cool-gray-100);
}

.root:global(.sm) {
    height: var(--height-sm);
    font-size: var(--font-sm);
}

.root:global(.disabled) {
    background: var(--color-gray-300);
}

.root:global(.disabled):hover {
    border: 1px solid var(--color-cool-gray-300);
}

.root:global(.sm) .label {
    flex: 1;
    padding: 0 calc(var(--spacing-sm) * 3);
}

.icon {
    display: inline-flex;
    align-items: center;
}

.dropdown {
    width: 100%;
    cursor: pointer;
    padding: 0;
    margin: 0 !important;
    position: absolute;
    display: flex;
    min-height: 2rem;
    z-index: 10;
}

.ul {
    position: relative;
    z-index: 10;
    margin: 0;
    padding: 0;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
    padding: 4px 0;
    background: var(--color-gray-800)
}

.ul:global(.sm) {
    margin-top: var(--spacing-sm);
}

.arrow {
    transition: all 0.2s linear;
}

.open {
    transform: rotate(180deg);
}