.select {
    position: relative;
}

.select:global(.sm) {
    border-radius: var(--spacing-sm);
}

.border {
    border: 1px solid rgba(var(--rgb-neutral-heavy), 0);
}

.border:hover {
    border: 1px solid rgba(var(--rgb-neutral-heavy), var(--opacity-10));
}

.popover {
    background-color: var(--color-neutral-heavy);
    position: absolute;
    width: 100%;
    z-index: 1;
}

.popover:global(.sm) {
    padding: var(--spacing-sm) var(--spacing-sm)
}