.select {
    composes: -v-bg-inapparent from global;
    border-radius: .4rem;
    position: relative;
}

.inherit {
    background-color: inherit !important;
}

.border {
    composes: -v-border-inapparent from global;
    position: relative;
}



.popover {
    position: absolute;
    background-color: var(--color-gray-900);
    color: var(--color-light);
    border-radius: .4rem;
    z-index: 20;
}
