.select-option {
    composes: -v-bg-heavy  -v-h -v-px from global;
    margin: var(--margin-md) 0;
}

.option {
    flex: 1;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    
}