.select {
    border-radius: .4rem;
    position: relative;
}

.select:active, .select.active { 
    background-color: var(--color-gray-100); 
}


.inherit {
    background-color: inherit !important;
}

.border {
    composes: -v-border-inapparent from global;
    position: relative;
}



.popover {
    composes: absolute py-12 from global;
    background-color: var(--color-gray-900);
    color: var(--color-light);
    border-radius: .4rem;
    z-index: 20;
}


.select-option {
    composes: -v-bg-heavy -v-px -v-h from global;
}


.option {
    flex: 1;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
}